<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <!--访问数据库-->
  <add name="sqlcon" connectionString="Server=127.0.0.1;Database=StudentManageDB;UID=sa;Pwd=123456;"/>    
</connectionStrings>
  <appSettings>
    <!--版本号-->
    <add key="version" value="v1.0.1"/>
    <!--访问官网地址-->
    <add key="webadd" value="https://blog.csdn.net/dust__"/>
  </appSettings>
</configuration>